# Ambiente virtual
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Arquivos temporários
*.tmp
*.log

# Áudios
*.wav
*.mp3
*.m4a
*.mp4

# Saídas do programa
outputs/*
!outputs/README.md

# Chaves
.env

# VS Code
.vscode/